.footer {
    padding: 30px;
    /* background-color: #fff; */
    background: linear-gradient(145deg, #d3ddfd, #dee9fa);
    border-top: 1px solid #eee;
    text-align: center;
    /* margin-top: 50px; */
  }
  
  .footer p {
    color: #555;
  }
  